
@font-face {
  font-family: 'NewBritannianRunicMachine';
  src: url('NewBritannianRunicMachine.eot?#iefix') format('embedded-opentype'),  url('NewBritannianRunicMachine.woff') format('woff'), url('NewBritannianRunicMachine.ttf')  format('truetype'), url('NewBritannianRunicMachine.svg#NewBritannianRunicMachine') format('svg');
  font-weight: normal;
  font-style: normal;
}
