
@font-face {
  font-family: 'NewBritRunicChiseled';
  src: url('NewBritRunicChiseled.eot?#iefix') format('embedded-opentype'),  url('NewBritRunicChiseled.woff') format('woff'), url('NewBritRunicChiseled.ttf')  format('truetype'), url('NewBritRunicChiseled.svg#NewBritRunicChiseled') format('svg');
  font-weight: normal;
  font-style: normal;
}
