
@font-face {
  font-family: 'NewBritRunicSolid';
  src: url('NewBritRunicSolid.eot?#iefix') format('embedded-opentype'),  url('NewBritRunicSolid.woff') format('woff'), url('NewBritRunicSolid.ttf')  format('truetype'), url('NewBritRunicSolid.svg#NewBritRunicSolid') format('svg');
  font-weight: normal;
  font-style: normal;
}
